     body {
         background-color: #FF3300;
         font-family: 'Poppins', sans-serif;
         margin: 0;
         padding: 0;
         text-align: center;
         color: #0E0426; 
         display: inline-block;
     }

     .image {

display: inline-block;
         width:30vw;
         margin-top: -30%;
         margin-left: 10%;

     }

     .logo {
       display: block;
        width: 30%;
        margin-left: 20%;
        margin-top: 10%; 
align-items: center;
     }

     .container {
         padding: 20px;
         display: inline-block; 
     }

     h1 {
         font-size: 46px;
         color: #ffffff;
     }

     p {
         font-size: 24px;
         font-weight: 700;
     }

     .download-button {
         background-color: #0E0426;
         color: white;
         padding: 15px 30px;
         font-size: 20px;
         text-decoration: none;
         border-radius: 10px;
     }

     h2 {
         border-bottom: #ffffff;
         border: #0E0426;
         color: white;
         font-weight: 500;
         padding: 10px;
         margin: 10px;
         text-align: center;
     }


     ul {
         list-style-type: none;
         padding: 0;
         display: inline-block;
     }

     li {
         background-color: #ffffff;
         margin: 10px;
         padding: 10px;
         border-radius: 10px;
         display: inline-block;
     }

     a {
         text-decoration: none;
         color: #0E0426;
         font-weight: bold;
     }

     a:hover {

         color: greenyellow;
     }